@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.formCont form .inputs{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	text-align: right;
	margin: 0 auto;
	color: var(--letras);
	position: relative;
	width: 90%;
}
.formCont form input, textarea{
	border: 1px var(--boton) solid;
	color: var(--letras);
	font-size: 1.2em;
	padding-left: 5px;
	font-family: 'Libre Baskerville', serif;
	position: relative;
}
.formCont form .tag{
	font-size: 1.5em
}
.cont{
	padding: 20px;
	display: flex;
	justify-content: space-around;
}
#map{
	width: 500px;
	height: 400px;
}
.formCont{
	text-align: center;
	justify-content: center;
	display: flex;
	flex-flow: column;
	width: 50%;
}
.formCont button{
	margin: 0 auto;
	margin-top: 20px;
	padding: 4px;
	font-size: 1.2rem;
	border: none;
	background: var(--fondo);
	width: 300px;
	display: block;
	color: var(--letras-botones);
	cursor: pointer;
}
@media screen and (max-width: 1100px){
	form .inputs{
		width: auto;
	}

}
@media screen and (max-width: 738px){
	.cont{
		flex-flow: column;
		justify-content: center;
	}
	.formCont{
		margin: 0 auto;
		margin-top: 20px;
		width: 100%;
	}
	form .inputs{
		width: 90%;
	}
	#map{
		margin: 0 auto;
	}
}
@media screen and (max-width: 600px){
	#map{
		width: auto;
		width: 100%;
		height: 200px;
	}
	.formCont button{
		width: auto;
		width: 100%;
	}
	form textarea{
		width: auto;
	}
}
@media screen and (max-width: 505px){
	form .inputs{
		text-align: center;
		grid-template-columns: auto;
	}
}