.login form{
    margin-top: 30px;
    width: 80%;
    max-width: 550px;
    
    color: var(--letras);
    margin: 0 auto;
}

.login .error{
    color: red;
}

.login form input{
    box-sizing: border-box;
}

.login .tow-column{
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 15px;
    color: rgb(61, 60, 60);
    width: 100%;
    font-size: 1.3em;
    text-align: right;
    grid-gap: 10%;
}

.login{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px; 
}

.login .txt{
    width: 100%;
}

.login h1{
	color: black;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
}

@media screen and (max-width:642px){
    .login form{
        width: 100%;
        max-width: 100%;
    }
    .login>form>div>input {
        margin-right: 20px;
    }
    .login > form > div > input[type=submit]{
        margin:0 auto;
        margin-top: 30px;
    }
}
