.pop-up{
    position: absolute;
    top: 10px;
    width: 30%;
    height: 200px;
    left: 35%;
    z-index: 3;
    background: white;
    text-align: center;
    display: none;
    font-size: 2.7vw;
}

.pop-up .flex-row{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
