.group-registro{
	padding-bottom: 30px;
}

.group-registro form{
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	color: var(--letras);
	position: relative;
	width: 80%;
	max-width: 590px;
	margin-bottom: 20px;
	margin-top: 20px;
}
 
.group-registro form #btnSubmit{
	margin: 0 auto;
	margin-top: 20px;
	padding: 4px;
	font-size: 1.2em;
	border: none;
	background: var(--fondo);
	width: 300px;
	display: block;
	color: var(--letras-botones);
	cursor: pointer;
}

.group-registro input{
	font-size: 1.3em;
	color: rgb(61, 60, 60);
	width: 100%;
	box-sizing: border-box;
}

.group-registro form h2{
	color: black;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
}

.group-registro form .error{
	display: none;
	color: red;
	text-align: center;
	padding-top: 10px;
}

.group-registro .inputs{
	display: grid;
	grid-template-columns: 45% 45%;
	grid-gap: 10%;
	text-align: center;
	margin-top: 10px;

}

.group-registro .direccion{
	margin-right: 100%; 
}

.group-registro .tow-column{
	display: grid;
	grid-template-columns: 40% 50%;
	grid-gap: 10%;
}

.group-registro .tow-column div{
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.group-registro .tow-column div input{
	width: 100%;
}

@media screen and (max-width: 610px){
	.group-registro .inputs{
		grid-template-columns: 100%;
		grid-gap: 0;
	}
	
}