.producto-ver{
	display: grid;
	grid-template-columns: 50% 40%;
	grid-gap: 10%;
	margin: 0 auto;
	width: 70%;
}

.error{
	color: red;
	text-align: center;
	font-size: 3vw;
}

.producto-ver .imagen{
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.producto-ver img{
	max-width: 100%;
}

.producto-ver .attrib{
	display: flex;
	flex-flow: column;
}

.attrib .big {
	font-size: 2ch;
}

.attrib .medium{
	font-size: 1.3	ch;
}

.producto-ver h1{
	font-size: 5ch;
	text-align: center;
	margin-bottom: 30px;
}

.producto-ver .center{
	text-align: center;
}

.producto-ver .tow-column{
	display: grid;
	grid-template-columns: 45% 45%;
	grid-gap: 10%;
}


.producto-ver .four-column{
	display: grid;
	grid-template-columns: repeat(4,23%);
	grid-gap: 2%;
}

.producto-ver .margin{
	margin-bottom: 30px;
}

@media screen and (max-width:996px){
	.producto-ver{
		width: 95%;
	}
}
@media screen and (max-width:710px){
	.producto-ver{
		grid-template-columns: 100%;
	}
	.producto-ver > div.nombre >h1{
		max-width: 100%;
	}
	.producto-ver .attrib{
		text-align: center;
		padding-left: 0;
	}
}