*{
	padding: 0;
	margin: 0;
}
.grid{
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	text-align: center;
	justify-content: center;
}
.grid  article{
	z-index: 3;
	margin-bottom: 25%;
	margin-right: 25%;
	box-shadow: 2px 1px 4px var(--fondo), -1px -.5px 10px var(--fondo);
	width: 266px;
	padding-top: 5px;
}
.grid article:hover{
	transform: scale(1.1,1.1);
}
.grid  article .img{
	max-width: 100%;
	text-align: right;
}
.grid article .img img{
	max-height: 200px;
	right: 5px;
}
.grid article button{
	background: black;
	color: var(--letras);
	border: none;
	padding: 7px;
	font-size: 1em;
}
.grid article button:hover{
	transform: scale(1.2,1.2);
}
.grid article .info{
	position: absolute;
	text-align: center;
	margin-left: -40px;
	margin-top: -170px;
}
.grid .precio{
	font-size: 2em;
	margin-bottom: 20px;
	font-weight: bold;
	color: black;
}
.grid .precio a{
	font-size: 2em;
}

@media screen and (max-width: 700px){
	.grid{
		flex-flow: column;
		align-items: center;
	}
	.grid article{
		margin-right: 0%;
	}

}