footer{
	background: var(--fondo);
	display: flex;
	bottom: 0;
}
footer li a{
	text-decoration: none;
	color: var(--letras);
}
footer a:hover{
	text-decoration: underline;
}
footer li{
	margin: 10px;
}
footer ul{
	list-style-type: none;
	display: flex;
}