@import "style.css";
@import "navbar.css";
@import "footer.css";

.group form{
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	color: var(--letras);
	position: relative;
	width: 80%;
	max-width: 530px;
	margin-bottom: 20px;
	margin-top: 20px;
}
 
.group form #btnSubmit{
	margin: 0 auto;
	margin-top: 20px;
	padding: 4px;
	font-size: 1.2rem;
	border: none;
	background: var(--fondo);
	width: 300px;
	display: block;
	color: var(--letras-botones);
	cursor: pointer;
}

.group form input{
	font-size: 1.3em;
}

.group form h2{
	color: black;
	text-align: center;
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
}

.group form .error{
	display: none;
	color: red;
}